.btnFilters{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin: 1% 5% 0% 5%;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0% 5% 0% 5%;
}
@media(min-width: 400px) and (max-width: 700px){
    .cards{
        justify-content: center;
    }
}