.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5% 5% 0% 5%;
}

@media(min-width: 400px) and (max-width: 700px){
    .container{
        justify-content: center;
    }
}