.container{
    margin: 44px 500px;
    display: flex;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    margin: 5% 5% 0% 5%;
    background-color: aquamarine;
    
  }
  .page {
    display: flex;
    grid-template-columns: repeat(5,1fr);
    justify-content: space-around;
    justify-items: center;
    align-items: center;
  }
  
  .page p, button, h3 {
    background-color: yellow;
    padding: 4px 14px;
    margin: 4px 4px;
    border-radius: 4px;
    border: 1px rgb(219, 210, 38) solid;
    
  }
  
  .page button:hover {
      background-color: greenyellow;
      border: 1px white solid;
      
    }
  
    .page h3 {
      background-color: rgb(172, 229, 234);
    }
  