.containerSearch{
    display: flex;
    align-items: center;
    padding-top: 10px;
    margin-left: 5%;
}
.logo{
    width: 20%;
}

.containerInput{
    margin-left: 45%;    
    border-color: blue;
    border: 5px;
}

.input{
    border-radius: 15px;
    position: absolute;
    width: 30%;
    height: 6%;
    padding-left: 1%;
    font-size: 18px;
}

.btn{
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 30%;
    margin-top: 10px   ;
    margin-left: 90px;
}

@media(min-width: 400px) and (max-width: 700px){
    .containerSearch{
        flex-direction: column;
        margin-bottom: 15%;
        padding-top: 10%;
    }
    .logo{
        width: 70%;
    }
    .containerInput{
        margin: 5% 50% 0% 0%;
    }
    .input{
        width: 70%;
        margin-right: 10%;
    }
}