.container{
   background-image: url("./image/background-image.png");
   background-size: 100%;
   background-repeat: no-repeat ;
}

@media (min-width: 600px) and (max-width: 1024px){
   .container{
      width: 100vw;
   }
}