.containerNav{
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 5px;
    
}
.divLogo{
    background-color: yellow;
    padding: 2px 2px 0px 2px;
    width: 20%;
}
.divMenu{
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    height:fit-content;
    color: white;
}
.divSearchBar{
    background-color: transparent;
    /* width: 40%; */
    

}

.logo{
    background-color:transparent;    
    width: 100%;
}

@media(min-width: 400px) and (max-width: 700px){
    .containerNav{
        flex-direction: column;
        margin-bottom: auto;
        padding-top: 5%;
    }
    .divLogo{
        width: 70%;
        justify-content: center;
    }
    .divMenu{
        width: 70%;
        margin-top: 2%;
    }
    .divSearchBar{
        width: 80%;
        margin-top: 2%;
        
    }
    .logo{
        width: 70%;
    }
    
}